.header {
  background-image: linear-gradient(to left, blue , lightblue);
  color: white;
  text-align: center;
  position: sticky;
}

#label {
  font-size: 25px;
}

.container {
  display: inline-flex;
}

.wContainer  {
  display:list-item;
  background-color: rgb(250, 246, 246);
  border: black 2em;
  width:10%;
}
.container #foreCast {
  display: inline-flex;
}

.listContainer {
  display: flex;
  color: white;
  justify-content: left;
  background-color: lightskyblue;
  border-style: solid black ;
  border-width: 2px;
  border-radius: 2px;
  width: auto;
 
}