.header {
  background-image: linear-gradient(to left, blue , lightblue);
  color: white;
  text-align: center;
  position: sticky;
}

#label {
  font-size: 25px;
}

.container {
  display: inline-flex;
}

.wContainer  {
  display:list-item;
  background-color: rgb(250, 246, 246);
  border: black 2em;
  width:10%;
}
.container #foreCast {
  display: inline-flex;
  /* width: 100px;
  height: 100px; */
}